<!DOCTYPE MenuBar>
<menubar>
  <menu id="File">
    <menu id="New" >
      <menuitem cmd="File:NewProject" />
      <menuitem cmd="File:NewDesign" />
      <menuitem cmd="File:NewDataDisplay" />
      <menuitem cmd="File:NewTextEditor" />
    </menu>
    <menu id="Open" >
      <menuitem cmd="File:OpenProject" />
      <menuitem cmd="File:OpenDesign" />
      <menuitem cmd="File:OpenDataDisplay" />
    </menu>
    <menuitem cmd="File:CopyProject" />
    <menuitem cmd="File:DeleteProject" />
    <menuitem cmd="File:IncludeRemoveProjects" />
    <menuitem cmd="File:ArchiveProject" />
    <menuitem cmd="File:UnarchiveProject" />
    <menuitem cmd="File:CloseProject" />
    <menuseparator />
    <menuitem cmd="File:CloseDesign" />
    <menuitem cmd="File:RevertToSavedDesign" />
    <menuitem cmd="File:CopyDesign" />
    <menuitem cmd="File:DeleteDesign" />
    <menuitem cmd="File:DesignsOpen" />
    <menuitem cmd="File:SaveDesign" />
    <menuitem cmd="File:SaveDesignAs" />
    <menuitem cmd="File:SaveAll" />
    <menuitem cmd="File:CloseAll" />
    <menuseparator />
    <menuitem cmd="File:Print" />
    <menuitem cmd="File:PrintArea" />
    <menuitem cmd="File:PrintSetup" />
    <menuseparator />
    <menuitem cmd="File:Import" />
    <menuitem cmd="File:Export" />
    <menu id="Export ADS Ptolemy Design">
      <menuitem cmd="File:AsWTBModelToRFDE" />
      <menuitem cmd="File:AsAMSModelToAMSDADE" />
    </menu>
    <menuitem cmd="File:GenerateArtwork" />
    <menu id="Netlist Export">
      <menuitem cmd="File:EditComponentDefinitions" />
      <menuitem cmd="File:CreateADSFrontEndNetlist" />
    </menu>
    <menuseparator />
    <menuitem cmd="File:DesignParameters" />
    <menuseparator />
    <menu id="Recent Designs" >
    </menu>/>
    <menu id="Recent Projects" >
    </menu>/>
    <menuseparator />
    <menuitem cmd="File:ExitAdvancedDesignSystem" />
  </menu>
  <menu id="Edit">
    <menuitem cmd="Edit:Undo" />
    <menuitem cmd="Edit:EndCommand" />
    <menuseparator />
    <menuitem cmd="Edit:Cut" />
    <menuitem cmd="Edit:Copy" />
    <menuitem cmd="Edit:Paste" />
    <menu id="Advanced Copy/Paste">
      <menuitem cmd="Edit:CopyUsingReference" />
      <menuitem cmd="Edit:CopyRelative" />
      <menuitem cmd="Edit:CopyToLayer" />
      <menuitem cmd="Edit:StepAndRepeat" />
    </menu>
    <menuitem cmd="Edit:Delete" />
    <menuitem cmd="Edit:DeleteAll" />
    <menuseparator />
    <menu id="Move">
      <menuitem cmd="Edit:MoveUsingReference" />
      <menuitem cmd="Edit:MoveEdge" />
      <menuitem cmd="Edit:MoveRelative" />
      <menuitem cmd="Edit:MoveAndDisconnect" />
      <menuitem cmd="Edit:MoveToLayer" />
      <menuitem cmd="Edit:MoveWireEndpoint" />
      <menuitem cmd="Edit:MoveWireTraceEndpoint" />
      <menuitem cmd="Edit:MoveWirePinLabel" />
      <menuitem cmd="Edit:MoveDimensionLineEndline" />
      <menuitem cmd="Edit:MoveRulerEndline" />
      <menuseparator />
      <menuitem cmd="Edit:MoveComponentText" />
    </menu>
    <menuitem cmd="Edit:Rotate" />
    <menuitem cmd="Edit:MirrorAboutX" />
    <menuitem cmd="Edit:MirrorAboutY" />
    <menu id="Advanced Rotate">
      <menuitem cmd="Edit:RotateAroundReference" />
      <menuitem cmd="Edit:RotateRelative" />
      <menuitem cmd="Edit:SetRotationAngle" />
    </menu>
    <menuseparator />
    <menu id="Edit In Place">
      <menuitem cmd="Edit:PushInto" />
      <menuitem cmd="Edit:PopOut" />
      <menuitem cmd="Edit:ReturnToTop" />
    </menu>
    <menu id="Component">
      <menuitem cmd="Edit:EditComponentParameters" />
      <menuitem cmd="Edit:EditComponentArtwork" />
      <menuitem cmd="Edit:BreakConnections" />
      <menuseparator />
      <menuitem cmd="Edit:DeactivateActivate" />
      <menuitem cmd="Edit:DeactivateAndShortActivate" />
      <menuseparator />
      <menuitem cmd="Edit:GroupEditParameterValue" />
      <menuitem cmd="Edit:SwapComponents" />
      <menuitem cmd="Edit:SearchReplaceReference" />
      <menuitem cmd="Edit:UpdateComponentDefinitions" />
      <menuitem cmd="Edit:CreateHierarchy" />
      <menuitem cmd="Edit:Flatten" />
      <menuseparator />
      <menuitem cmd="Edit:ChangeComponentTextLayer" />
      <menuitem cmd="Edit:ComponentTextAttributes" />
      <menuitem cmd="Edit:HideDisplayComponentName" />
      <menuitem cmd="Edit:PortGroundSize" />
    </menu>
    <menu id="Path/Trace/Wire">
      <menuitem cmd="Edit:ConvertTraces" />
      <menuitem cmd="Edit:ConvertTraceToPath" />
      <menuitem cmd="Edit:ConvertPathToTrace" />
    </menu>
    <menu id="Transmission Line">
      <menuitem cmd="Edit:SplitTransmissionLine" />
      <menuitem cmd="Edit:TapTransmissionLine" />
      <menuitem cmd="Edit:StretchTransmissionLine" />
      <menuitem cmd="Edit:SqueezeTransmissionLineKeepingLength" />
    </menu>
    <menu id="Wire/Pin Label">
      <menuitem cmd="Edit:WirePinLabel" />
      <menuitem cmd="Edit:WirePinLabelAttributes" />
      <menuitem cmd="Edit:RemoveWirePinLabel" />
      <menuitem cmd="Edit:RemoveAllWirePinLabels" />
    </menu>
    <menu id="Scale Oversize">
      <menuitem cmd="Edit:Scale" />
      <menuitem cmd="Edit:Oversize" />
      <menuitem cmd="Edit:CopyAndOversize" />
    </menu>
    <menu id="Merge">
      <menuitem cmd="Edit:Union" />
      <menuitem cmd="Edit:Intersection" />
      <menuitem cmd="Edit:UnionMinusIntersection" />
    </menu>
    <menuitem cmd="Edit:BooleanLogical" />
    <menuitem cmd="Edit:CreateClearance" />
    <menu id="Vertex">
      <menuitem cmd="Edit:Add" />
      <menuitem cmd="Edit:ToArc" />
      <menuitem cmd="Edit:Miter" />
    </menu>
    <menu id="Modify">
      <menuitem cmd="Edit:ConvertToPolygon" />
      <menuseparator />
      <menuitem cmd="Edit:ForceToGrid" />
      <menuseparator />
      <menuitem cmd="Edit:Join" />
      <menuitem cmd="Edit:Explode" />
      <menuitem cmd="Edit:Break" />
      <menuitem cmd="Edit:Chop" />
      <menuitem cmd="Edit:Extend" />
      <menuitem cmd="Edit:Crop" />
      <menuitem cmd="Edit:Split" />
      <menuseparator />
      <menuitem cmd="Edit:SetOrigin" />
    </menu>
    <menuitem cmd="Edit:SymbolPin" />
    <menuitem cmd="Edit:PowerPin" />
    <menuitem cmd="Edit:EdgeAreaPort" />
    <menuitem cmd="Edit:Properties" />
  </menu>
  <menu id="Select">
    <menuitem cmd="Select:SelectAll" />
    <menuitem cmd="Select:SelectAllOnLayer" />
    <menuitem cmd="Select:SelectByName" />
    <menu id="Select Interconnect">
      <menuitem cmd="Select:Nodal" />
      <menuitem cmd="Select:NodalWithComponents" />
    </menu>
    <menuseparator />
    <menuitem cmd="Select:DeselectArea" />
    <menuitem cmd="Select:DeselectAll" />
    <menuitem cmd="Select:DeselectByName" />
  </menu>
  <menu id="View">
    <menuitem cmd="View:ViewAll" />
    <menuitem cmd="View:PanView" />
    <menuitem cmd="View:RedrawView" />
    <menuseparator />
    <menu id="Zoom">
      <menuitem cmd="View:ZoomArea" />
      <menuitem cmd="View:ZoomToSelected" />
      <menuitem cmd="View:ZoomInPoint" />
      <menuitem cmd="View:ZoomOutPoint" />
      <menu id="Zoom By Factor">
        <menuitem cmd="View:ZoomInX2" />
        <menuitem cmd="View:ZoomOutX2" />
        <menuitem cmd="View:ZoomInX5" />
        <menuitem cmd="View:ZoomOutX5" />
        <menuitem cmd="View:ZoomInBy" />
        <menuitem cmd="View:ZoomOutBy" />
      </menu>
    </menu>
    <menuseparator />
    <menuitem cmd="View:RestoreLastView" />
    <menuitem cmd="View:SaveView" />
    <menuitem cmd="View:RestoreView" />
    <menuitem cmd="View:DeleteView" />
    <menuseparator />
    <menuitem cmd="View:PushIntoHierarchy" />
    <menuitem cmd="View:PopOutOfHierarchy" />
    <menuseparator />
    <menuitem cmd="View:ClearHighlighting" />
    <menuseparator />
    <menuitem cmd="View:DesignHierarchies" />
    <menuseparator />
    <menu id="Component">
      <menuitem cmd="View:SelectComponentPalette" />
      <menuseparator />
      <menuitem cmd="View:ComponentHistory" />
      <menuitem cmd="View:ClearComponentHistory" />
    </menu>
    <menuseparator />
    <menu id="Docking Windows">
      <menuitem cmd="View:ComponentPalette" />
    </menu>
    <menuitem cmd="View:Toolbar" />
    <menuitem cmd="View:StatusBar" />
    <menuitem cmd="View:CoordinateReadout" />
    <menuseparator />
    <menuitem cmd="View:MinorGridDisplay" />
    <menuitem cmd="View:MajorGridDisplay" />
    <menuitem cmd="View:GridDisplay" />
  </menu>
  <menu id="Insert">
    <menuitem cmd="Insert:Template" />
    <menuseparator />
    <menuitem cmd="Insert:Trace" />
    <menuitem cmd="Insert:Wire" />
    <menuitem cmd="Insert:WirePinLabel" />
    <menuitem cmd="Insert:GlobalNode" />
    <menuseparator />
    <menu id="Component">
      <menuitem cmd="Insert:ComponentLibrary" />
      <menuseparator />
      <menuitem cmd="Insert:SetComponentOrientationUP" />
      <menuitem cmd="Insert:SetComponentOrientationDOWN" />
      <menuitem cmd="Insert:SetComponentOrientationLEFT" />
      <menuitem cmd="Insert:SetComponentOrientationRIGHT" />
      <menuseparator />
      <menuitem cmd="Insert:AddSelectedToComponentMenu" />
    </menu>
    <menuitem cmd="Insert:Port" />
    <menuitem cmd="Insert:Ground" />
    <menuitem cmd="Insert:Var" />
    <menuseparator />
    <menuitem cmd="Insert:Polygon - Schematic" />
    <menuitem cmd="Insert:Polyline - Schematic" />
    <menuitem cmd="Insert:Rectangle - Schematic" />
    <menuitem cmd="Insert:Circle - Schematic" />
    <menuitem cmd="Insert:Polygon - Layout" />
    <menuitem cmd="Insert:Polyline - Layout" />
    <menuitem cmd="Insert:Rectangle - Layout" />
    <menuitem cmd="Insert:Circle - Layout" />
    <menuitem cmd="Insert:Text" />
    <menuitem cmd="Insert:Arrow" />
    <menuitem cmd="Insert:Path" />
    <menuitem cmd="Insert:MeanderTrace" />
    <menuitem cmd="Insert:ConstructionLine" />
    <menuitem cmd="Insert:DimensionLine" />
    <menuitem cmd="Insert:Ruler" />
    <menuitem cmd="Insert:SymbolPin" />
    <menuitem cmd="Insert:PowerPin" />
    <menuseparator />
    <menuitem cmd="Insert:ArcCw - Schematic" />
    <menuitem cmd="Insert:ArcCcw - Schematic" />
    <menuitem cmd="Insert:Arc - Schematic" />
    <menuitem cmd="Edit:UndoVertex - Schematic" />
    <menuitem cmd="Insert:ArcCw - Layout" />
    <menuitem cmd="Insert:ArcCcw - Layout" />
    <menuitem cmd="Insert:Arc - Layout" />
    <menuitem cmd="Edit:UndoVertex - Layout" />
    <menuseparator />
    <menuitem cmd="Insert:EntryLayer" />
    <menuitem cmd="Insert:ChangeEntryLayerTo" />
    <menuseparator />
    <menuitem cmd="Insert:CoordinateEntry" />
    <menuitem cmd="Insert:Measure" />
    <menuitem cmd="Insert:GenerateSymbol" />
  </menu>
  <menu id="Options">
    <menuitem cmd="Options:SchematicPreferences" />
    <menuitem cmd="Options:LayoutPreferences" />
    <menuitem cmd="Options:Layers" />
    <menuseparator />
    <menu id="Grid Spacing">
      <menuitem cmd="View:MinorGridDisplay" />
      <menuitem cmd="View:MajorGridDisplay" />
    </menu>
    <menuseparator />
    <menuitem cmd="Options:Variables" />
    <menuseparator />
    <menuitem cmd="Options:SnapEnabled" />
    <menuitem cmd="Options:PinSnap" />
    <menuitem cmd="Options:IntersectionSnap" />
    <menuitem cmd="Options:VertexSnap" />
    <menuitem cmd="Options:MidpointSnap" />
    <menuitem cmd="Options:ArcCircleCenterSnap" />
    <menuitem cmd="Options:EdgeSnap" />
    <menuitem cmd="Options:GridSnap" />
    <menuseparator />
    <menuitem cmd="Options:45DegreeEntry" />
    <menuitem cmd="Options:90DegreeEntry" />
    <menuitem cmd="Options:RerouteEntireWireAttachedToMovedComponent" />
    <menuitem cmd="Options:RouteAroundComponentText" />
    <menuitem cmd="Options:RouteAroundComponentSymbol" />
    <menuseparator />
    <menuitem cmd="Options:ApplicationPreferences" />
    <menu id="Configuration">
      <menuitem cmd="Options:AdvancedDesignSystemSetup" />
      <menuitem cmd="Options:ComponentPaletteConfiguration" />
      <menuitem cmd="Options:ConfigurationExplorer" />
      <menuitem cmd="Options:HotKeyToolbarConfiguration" />
      <menuitem cmd="Options:License" />
    </menu>
  </menu>

  <menu id="Tools">
    <menu id="Artwork Macro">
      <menuitem cmd="Tools:MacroStretch" />
      <menuitem cmd="Tools:MacroRotateMoveMirror" />
      <menuitem cmd="Tools:MacroRepeat" />
      <menuitem cmd="Tools:MacroPolar" />
      <menuitem cmd="Tools:MacroWidth" />
      <menuitem cmd="Tools:MacroUserDefined" />
      <menuitem cmd="Tools:MacroViewAndEditControls" />
      <menuitem cmd="Tools:MacroCompile" />
    </menu>
    <menu id="Check Connectivity">
      <menuitem cmd="Tools:ShowNodalInterconnect" />
      <menuitem cmd="Tools:ShowPhysicalInterconnect" />
    </menu>
    <menu id="Data and Measurement">
      <menuitem cmd="Tools:ConnectionManagerClient" />
      <menuitem cmd="Tools:ConnectedSolutionsWorkbenchTool" />
      <menuitem cmd="Tools:DataFileTool" />
      <menuitem cmd="Tools:InstrumentServer" />
    </menu>
    <menu id="Design">
      <menuitem cmd="Tools:GenesysSynthesis" />
      <menuitem cmd="Tools:GenesysSpectraSys" />
      <menu id="Digital Filter">
        <menuitem cmd="Tools:StartDigitalFilter" />
        <menuitem cmd="Tools:RetrieveAndPlaceCurrentIdeal" />
        <menuitem cmd="Tools:RetrieveAndPlaceCurrentScaled" />
      </menu>
      <menuitem cmd="Tools:Hierarchy" />
      <menu id="LineCalc">
        <menuitem cmd="Tools:StartLineCalc" />
        <menuitem cmd="Tools:SendSelectedComponentToLineCalc" />
        <menuitem cmd="Tools:UpdateSelectedComponentFromLineCalc" />
        <menuitem cmd="Tools:PlaceNewSynthesizedComponent" />
      </menu>
      <menuitem cmd="Tools:ImpedanceMatching" />
      <menu id="Reports">
        <menuitem cmd="Tools:BillOfMaterials" />
        <menuitem cmd="Tools:PartsList" />
        <menuitem cmd="Tools:PickAndPlace" />
      </menu>
      <menuitem cmd="Tools:SmithChart" />
    </menu>
    <menu id="Libraries and Models">
      <menu id="Custom Library">
        <menu id="Enable">
          <menuitem cmd="Tools:EnableUserLibrary" />
          <menuitem cmd="Tools:EnableSiteLibrary" />
        </menu>
        <menu id="Disable">
          <menuitem cmd="Tools:DisableUserLibrary" />
          <menuitem cmd="Tools:DisableSiteLibrary" />
        </menu>
        <menu id="Create">
          <menuitem cmd="Tools:CreateUserPart" />
          <menuitem cmd="Tools:CreateSitePart" />
        </menu>
        <menu id="Delete">
          <menuitem cmd="Tools:DeleteUserPart" />
          <menuitem cmd="Tools:DeleteSitePart" />
        </menu>
      </menu>
      <menu id="Design Kit">
        <menuitem cmd="Tools:InstallDesignKits" />
        <menuitem cmd="Tools:SetupDesignKit" />
        <menuitem cmd="Tools:ListDesignKits" />
        <menuitem cmd="Tools:SetupDesignKitProject" />
      </menu>
      <menu id="IC-CAP Import">
        <menuitem cmd="Tools:IccapAnyDevice" />

        <menu id="&BJT Devices">
          <menuitem cmd="Tools:IccapVbic" />
          <menuitem cmd="Tools:IccapMextram" />
          <menuitem cmd="Tools:IccapGummelPoon" />
          <menuitem cmd="Tools:IccapHpeebjt2" />
        </menu>
        <menu id="&Diode Devices">
          <menuitem cmd="Tools:IccapDiode" />
        </menu>
        <menu id="&GaAs Devices">
          <menuitem cmd="Tools:IccapCurtice2" />
          <menuitem cmd="Tools:IccapCurtice3" />
          <menuitem cmd="Tools:IccapStatz" />
          <menuitem cmd="Tools:IccapHPEEfet3" />
          <menuitem cmd="Tools:IccapHPEEhemt1" />
        </menu>
        <menu id="&MOS Devices">
          <menuitem cmd="Tools:IccapMOSLevel2" />
          <menuitem cmd="Tools:IccapMOSLevel3" />
          <menuitem cmd="Tools:IccapHPEEmos1" />
          <menuitem cmd="Tools:IccapMOSModel9Single" />
          <menuitem cmd="Tools:IccapMOSModel9Process" />
          <menuitem cmd="Tools:IccapBsim1" />
          <menuitem cmd="Tools:IccapBsim2" />
          <menuitem cmd="Tools:IccapBsim3" />
          <menuitem cmd="Tools:IccapBsim4" />
        </menu>

      </menu>
      <menu id="Import System Model">
        <menuitem cmd="Tools:MatlabFunction" />
      </menu>
      <menu id="Model Composer">
        <menuitem cmd="Tools:CreateModifyLibrary" />
        <menuitem cmd="Tools:StatusControl" />
      </menu>
      <menu id="Spice Model Generator">
        <menuitem cmd="Tools:StartBroadBandGenerator" />
        <menuitem cmd="Tools:StartNarrowBandGenerator" />
      </menu>
      <menu id="User-Compiled Model">
        <menuitem cmd="Tools:NewUserCompiledModel" />
        <menuitem cmd="Tools:OpenUserCompiledModel" />
        <menuitem cmd="Tools:DeleteUserCompiledModel" />
        <menuitem cmd="Tools:LinkUserCompiledModel" />
        <menuitem cmd="Tools:ReleaseUserCompiledModelLicense" />
      </menu>
    </menu>
    <menu id="Macro">
      <menuitem cmd="Tools:StartRecordingMacro" />
      <menuitem cmd="Tools:StopRecordingMacro" />
      <menuitem cmd="Tools:PlaybackMacro" />
    </menu>
    <menu id="Verification">
      <menuitem cmd="Tools:CheckRepresentation" />
      <menuitem cmd="Tools:DRC" />
      <menuitem cmd="Tools:DRCResultsViewer" />
      <menuitem cmd="Tools:CheckDesign" />
    </menu>
    <menuitem cmd="Tools:Identify" />
    <menuitem cmd="Tools:Info" />
    <menuitem cmd="Tools:ElectronicNotebook" />
    <menuitem cmd="Tools:QueueManager" />
  </menu>
  <menu id="DesignSync">
    <menuitem cmd="DesignSync:GenerateUpdateSchematic" />
    <menuitem cmd="DesignSync:GenerateUpdateLayout" />
    <menuitem cmd="DesignSync:UndoGenerateUpdate" />
    <menuitem cmd="DesignSync:PlaceComponentsFromSchemToLayout" />
    <menuitem cmd="DesignSync:PlaceComponentsFromLayoutToSchem" />
    <menuseparator />
    <menuitem cmd="DesignSync:FixPositionOfSelectedComponents" />
    <menuitem cmd="DesignSync:FreeComponentPosition" />
    <menuseparator />
    <menuitem cmd="DesignSync:ShowEquivalentNode" />
    <menuitem cmd="DesignSync:ShowEquivalentComponent" />
    <menuitem cmd="DesignSync:ShowUnplacedComponents" />
    <menuitem cmd="DesignSync:ShowComponentsWithNoArtwork" />
    <menuitem cmd="DesignSync:ShowComponentsWithGenericArtwork" />
    <menuitem cmd="DesignSync:ClearHighlightedComponents" />
    <menuseparator />
    <menuitem cmd="DesignSync:ShowConnectedComponents" />
    <menuitem cmd="DesignSync:ShowFixedComponents" />
  </menu>
  <menu id="Simulate">
    <menuitem cmd="Simulate:Simulate" />
    <menuitem cmd="Simulate:SimulationSetup" />
    <menuitem cmd="Simulate:StopAndReleaseSimulator" />
    <menuseparator />
    <menuitem cmd="Simulate:Tuning" />
    <menuseparator />
    <menuitem cmd="Simulate:SmartSimulationWizard" />
    <menuseparator />
    <menuitem cmd="Simulate:HighlightNode" />
    <menuseparator />
    <menuitem cmd="Simulate:AnnotateDCSolution" />
    <menuitem cmd="Simulate:DetailedDeviceOperatingPoint" />
    <menuitem cmd="Simulate:BriefDeviceOperatingPoint" />
    <menuitem cmd="Simulate:ClearDCAnnotation" />
    <menuseparator />
    <menuitem cmd="Simulate:Snapshot" />
    <menuseparator />
    <menuitem cmd="Simulate:UpdateOptimizationValues" />
    <menuseparator />
    <menuitem cmd="Simulate:GenerateBudgetPath" />
  </menu>
  <menu id="DynamicLink">
    <menu id="Instance">
      <menuitem cmd="DynamicLink:AddInstanceOfCellview" />
      <menuitem cmd="DynamicLink:UpdateInstanceOfCellview" />
    </menu>
    <menu id="Design Variables">
      <menuitem cmd="DynamicLink:GetDesignVariables" />
      <menuitem cmd="DynamicLink:UpdateDesignVariablesToCellviews" />
    </menu>
    <menuseparator />
    <menuitem cmd="DynamicLink:AddNetlistFileInclude" />
    <menuseparator />
    <menuitem cmd="DynamicLink:TopLevelDesignNetlist" />
    <menuseparator />
    <menu id="Annotate">
      <menuitem cmd="DynamicLink:AnnotateDcSolutionToSelectedCellview" />
      <menuitem cmd="DynamicLink:AnnotateOperatingPointsToSelectedCellview" />
    </menu>
    <menuseparator />
    <menuitem cmd="DynamicLink:SetCadenceProjectDirectory" />
    <menuseparator />
    <menuitem cmd="DynamicLink:CloseConnection" />
  </menu>
  <menu id="Momentum">
    <menuitem cmd="Momentum:EnableRfMode" />
    <menuseparator />
    <menu id="Substrate">
      <menuitem cmd="Momentum:Open" />
      <menuitem cmd="Momentum:Save" />
      <menuitem cmd="Momentum:SaveAs" />
      <menuitem cmd="Momentum:Delete" />
      <menuseparator />
      <menuitem cmd="Momentum:CreateModify" />
      <menuitem cmd="Momentum:UpdateFromSchematic" />
      <menuseparator />
      <menuitem cmd="Momentum:Precompute" />
      <menuitem cmd="Momentum:Summary" />
    </menu>
    <menuitem cmd="Momentum:PortEditor" />
    <menu id="&Box - Waveguide">
      <menuitem cmd="Momentum:AddABox" />
      <menuitem cmd="Momentum:DeleteBox" />
      <menuseparator />
      <menuitem cmd="Momentum:AddWaveguide" />
      <menuitem cmd="Momentum:DeleteWaveguide" />
    </menu>
    <menu id="&Component">
      <menuitem cmd="Momentum:Parameters" />
      <menuitem cmd="Momentum:CreateUpdate" />
      <menuitem cmd="Momentum:ModelDatabase" />
      <menuseparator />
      <menu id="&Advanced Model Composer">
        <menuitem cmd="Momentum:CreateModel" />
        <menuitem cmd="Momentum:StatusControl" />
        <menuitem cmd="Momentum:DesignKit" />
      </menu>
    </menu>
    <menuseparator />
    <menu id="&Mesh">
      <menuitem cmd="Momentum:SetupMesh" />
      <menuitem cmd="Momentum:PrecomputeMesh" />
      <menuitem cmd="Momentum:SummaryMesh" />
      <menuitem cmd="Momentum:ClearMesh" />
      <menuitem cmd="Momentum:ShowReportMesh" />
    </menu>
    <menu id="&Simulation">
      <menuitem cmd="Momentum:SpiceModel" />
      <menuitem cmd="Momentum:SParameters" />
      <menuitem cmd="Momentum:SummarySimulation" />
    </menu>
    <menu id="&Post-Processing">
      <menuitem cmd="Momentum:RadiationPattern" />
      <menuitem cmd="Momentum:Visualization" />
    </menu>
    <menuseparator />
    <menu id="&3D EM">
      <menuitem cmd="Momentum:SaveFilesFor3DEM" />
    </menu>
  </menu>


  <menu id="&EMDS">
    <menuitem cmd="EMDS:AboutEMDSForADS" />
    <menu id="Substrate">
      <menuitem cmd="EMDS:Open" />
      <menuitem cmd="EMDS:Save" />
      <menuitem cmd="EMDS:SaveAs" />
      <menuitem cmd="EMDS:Delete" />
      <menuseparator />
      <menuitem cmd="EMDS:CreateModify" />
      <menuitem cmd="EMDS:UpdateFromSchematic" />
    </menu>
    <menuitem cmd="EMDS:PortEditor" />
    <menu id="3D Features">
      <menuitem cmd="EMDS:AutoExtendBoundary" />
      <menuseparator />
      <menuitem cmd="EMDS:AddABox" />
      <menuitem cmd="EMDS:DeleteBox" />
      <menuseparator />
      <menuitem cmd="EMDS:AddWaveguide" />
      <menuitem cmd="EMDS:DeleteWaveguide" />
    </menu>
    <menuitem cmd="EMDS:3DEMPreview" />
    <menuseparator />
    <menu id="&Component">
      <menuitem cmd="EMDS:Parameters" />
      <menuitem cmd="EMDS:CreateUpdate" />
      <menuitem cmd="EMDS:ModelDatabase" />
    </menu>
    <menuseparator />
    <menuitem cmd="EMDS:SimulationOptions" />
    <menu id="&Simulation">
      <menuitem cmd="EMDS:SpiceModel" />
      <menuitem cmd="EMDS:SParameters" />
      <menuitem cmd="EMDS:SummarySimulation" />
    </menu>
    <menu id="&Post-Processing">
      <menuitem cmd="EMDS:Visualization" />
    </menu>
  </menu>
  <menu id="Window">
    <menuitem cmd="Window:NewSchematicWindowForCurrentDesign" />
    <menuitem cmd="Window:NewLayoutWindowForCurrentDesign" />
    <menuitem cmd="Window:SimulationStatus" />
    <menuseparator />
    <menuitem cmd="Window:Tile" />
    <menuitem cmd="Window:Cascade" />
    <menuseparator />
    <menuitem cmd="Window:Close" />
    <menuitem cmd="Window:HideAll" />
    <menuitem cmd="Window:ShowAll" />
    <menuseparator />
  </menu>

  <menu id="Help">
    <menuitem cmd="Help:GettingStartedWithAds" />
  </menu>


  <!--  This is a comment
  This is a comment   -->
</menubar>
